html{
	height:100%
}
body {
	margin: 0px;
	font-size: 18px;
	font-family: "Helveltica Neue Light", "Helveltica Neue", Helveltica,Arial,"Lucida Grande";
	font-weight: 300;
	height: 100%;
}

.header{
	color:#FF0000;
	background-color: #6E6E6E;
	text-align: center;
	text-height:bolder;
	line-height: 48.4px;
	width: 100%;
	height: 5%;
	top: 0;
	position: relative;
}
.footer{
	padding: 5px;
	font-style:italic;
	font-weight: bold;
	font-size:small;
	color: #FF0000;
	text-align: center;
	bottom: 0;
	position: fixed;
	background-color : #6E6E6E;
	width: 100%;
	height: 5%;
}
#mapa{
	height: 89vh;
	width : 100%;
}